id: c98904c9-2f0e-4d95-8bfd-b402163b34df
# opnrvn-r-45
refId: aws-iam-and-security-no-security-groups-allow-all-ingress-to-port-3389
type: asset
name: >
  Security group allows ingress from 0.0.0.0/0 to port 3389
description: >
  Identifies security groups which allow ingress from 0.0.0.0/0 to port 3389.
severity: medium
enabled: true
sql: >
  WITH
  get_ip_permissions AS (
    SELECT arn, jsonb_array_elements(configuration->'ipPermissions') AS permissions
    FROM ${magpie_schema}.awsec2securitygroup
  ),
  get_ip_ranges AS (
    SELECT arn, jsonb_array_elements(permissions->'ipRanges') AS ip_ranges
    FROM get_ip_permissions
    WHERE (CAST(permissions->>'fromPort' AS INT) <= 3389
              AND CAST(permissions->>'toPort' AS INT) >= 3389)
         OR permissions->>'fromPort' IS NULL
         OR permissions->>'toPort' IS NULL
  ),
  get_cidrIp AS (
    SELECT arn as assetid
    FROM get_ip_ranges
    WHERE ip_ranges->>'cidrIp' = '0.0.0.0/0'
  )

  SELECT * FROM get_cidrIp;

remediationDocURLs: https://github.com/openraven/security-rules/wiki
version: 1.0.5
