name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Clone Magpie
        run: git clone https://github.com/openraven/magpie.git
      - name: Build Magpie
        run: mvn -f magpie --settings magpie/.github/workflows/settings.xml -B clean install -DskipTests
      - name: Validate rules
        run: mvn test -f magpie -pl magpie-core -Dtest=SecurityRuleValidator -Drepository=$PWD
